:root{
    --background-color: #02370b;
    --main-color: #5bff00;
    --black-color: #000000;
    --white-color: #ffffff;
    --red-highlight: #ff3131;
}

body{
    background-color: var(--background-color);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
/** SIDE NAV **/
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/** HEADER **/
header {
    background: var(--main-color);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--black-color);
    letter-spacing: 3px;
}

header span {
    color: red;
}

header p {
    color: #aaa;
    font-style: italic;
}

.container{
    margin: 50px;
    padding: 50px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.container button{
    margin: 15px;
}

button {
    background: red;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: black;
    border: 1px solid red;
}

footer {
    text-align: center;
    padding: 15px;
    border-top: 2px solid red;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #888;
}