:root{
    --background-color: #344E41;
    --main-color: #DAD7CD;
    --secondary-color: #588157;
    --black-color: #000000;
    --white-color: #ffffff;
    --red-highlight: #ff3131;
}

#openCart{
    width: 100px;
    height: 100px;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--white-color);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--main-color);
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

body {
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--main-color);
    color: var(--black-color);
}

.container {
    display: flex;
}

/* PRODUCTS */
.products {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--main-color);
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* CART */
.cart {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--secondary-color);
    color: var(--main-color);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.cart .closebtn {
    position: absolute;
    color: var(--main-color);
    top: 10px;
    right: 15px;
    font-size: 30px;
    text-decoration: none;
}

#cartItems {
    overflow-y: auto;
    flex: 1;
    padding: 10px;
}

.cart-footer {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin: 15px;
}

button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}